.box{
    position: relative;
    top:20px;
    z-index: 1;
    background:none;        
    max-width: 900px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align:left;
    color:rgb(10, 10, 61);
    box-shadow: 0 0 20px 0 rgba(55, 55, 55, 0.2), 0 5px 5px 0 rgba(55, 55, 55, 0.24);
    font-size: 20px;
}
h1{
    color: rgb(128, 22, 45);
    font-size: 45px;
    text-align: center;

}
body {
    background-image: url('../ppp.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}
.black{
color: rgb(59, 232, 245);
font-size: 18px;
}
.white{
    color: rgb(235, 60, 60);
    font-size: 17px;

}
